#footer {
    height: 50px;
    background: $color-seven;
    position: fixed;
    width: 100vw;
    bottom: 0;

    .container {
        height: 50px;
    }

    .footerContent {
        height: 22px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        p {
            color: $color-eight;
            text-align: center;
        }
    }
}