$color-one: #f5f4f1;
$color-two: #ec7252;
$color-three: #2a2925;
$color-four: #fefefe;
$color-five: #b29dc8;
$color-six: #528ea9;
$color-seven: #eae9e5;
$color-eight: #80807f;
$color-nine: #afab9d;
$color-ten: #b29dc8;